# Environment variables example configuration
ENVIRONMENT=development
SECRET_KEY=supersecretkeychangeinproduction
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/road_safety
UPLOAD_DIRECTORY=/app/uploads
